<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Shopping Cart</title>
</head>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<body>
<div layout:fragment="main-content" class="row" style="margin:2%;margin-left: 4%">

    <div class="col-3" style="width: 15rem;">
        <div class="row">
            <div>


            </div>

        </div>
    </div>

    <div class="col">
        <div class="card-body">
            <div id="feedback"></div>
            <form class="form-horizontal" th:action="@{/review/listReview}"  method="post" th:object="${review}">
             <h4>
                Comments
            </h4>
                <input   th:field="${review.product.id}" type="hidden">
            <div class="input-group mb-3" style="height:70px; width:500px;">
                <input type="text" id="comment" th:field="${review.comment}"
                       class="form-control" aria-describedby="basic-addon4" placeholder="Write something.."
                       style="height:70px; width:20px;"></div>
              <button class="btn btn-primary btn-sm" id="btn-comment" >Submit &raquo;</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>