
<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Page</title>
</head>
<body>
<div class="row">
    <!-- for each part using expression language  Iteration th:each   -->
    <div class="col">
        <div class="card" style="width: 18rem;" layout:fragment="main-content">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <!-- for each part using expression language  Iteration th:each   -->
</div>
</body>
</html>