<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Shopping Cart</title>
</head>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<body>
<div layout:fragment="main-content" class="row" style="margin:2%;margin-left: 4%">



    <div class="col-3" style="width: 15rem;">
        <div class="row">
            <div>
                <div class="col" style="margin:2%;">
                    <form action="#" th:action="@{/cartItem/addCart}" th:object="${product}" method="post">
                        <div class="card" style="width:15rem;">
                            <img th:src="@{'/img/' + ${product.productNumber}+'.png'}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.title}" th:field="*{title}">Card title</h5>
                                <p class="card-text" th:text="${product.description}">
                                    Some quick example text to build
                                    on the
                                    card title and make up the bulk of the card's content.</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">$</span>
                                    </div>
                                    <input type="text" readonly
                                           th:value="${product.price}" class="form-control"
                                           aria-describedby="basic-addon3"></input>
                                </div>
                                <div class="form-group">
                                    <label>Quantity :</label>
                                    <select th:field="*{cartQuantity}" id="quantity">
                                        <option th:each="i : ${#numbers.sequence(1, product.availableInStor)}"
                                                th:value="${i}" th:text="${i}"></option>
                                    </select>
                                    <input type="hidden" th:field="*{id}">
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('cartQuantity')}">
                                    <span th:if="${#fields.hasErrors('item.quantity')}"
                                          th:errors="*{cartQuantity}" class="validation-message"></span>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="col">
        <div class="card-body">
            <div id="feedback"></div>
            <div  th:if="${successMessageReview}">
                <p class="alert alert-success" > <span th:text="${successMessageReview}" th:remove="tag" ></span></p>
            </div>
            <form class="form-horizontal" th:action="@{/review/listReview}"  method="post" th:object="${review}">
             <h4>
                Comments
            </h4>
                <input   th:field="*{product.id}" type="hidden">
            <div class="input-group mb-3" style="height:70px; width:500px;">
                <input type="text" id="comment" th:field="${review.comment}"
                       class="form-control" aria-describedby="basic-addon4" placeholder="Write something.."
                       style="height:70px; width:20px;">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('comment')}">
                        <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"
                              class="validation-message"> </span></div>
            </div>
              <button class="btn btn-primary btn-sm" id="btn-comment" >Submit &raquo;</button>
            </form>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col" >Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reviewDisplay,iStat : ${reviewList}">
                    <td  th:text="${reviewDisplay.getBuyer().firstName}" >Text ...</td>
                    <td th:text="${reviewDisplay.comment}" >Text ...</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

    </div>
</div>
</body>
</html>