<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <title>Shopping Cart</title>
</head>
<body>
<div layout:fragment="main-content" class="row" style="margin-left: 4%">
    <div  th:if="${errorMessage}">
        <p class="alert alert-danger" > <span th:text="${errorMessage}" th:remove="tag" ></span></p>
    </div>
    <div class="card"  style="width: 80%;">

        <div class="card-body">
            <h4>Shopping Cart</h4>
            <p>
                You have   items in your shopping cart.
                <button  class="float-right btn btn-light btn-sm">Clear Shopping Cart</button>
            </p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center" >Quantity</th>
                <th class="text-right" >Price</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item,iStat : ${itemsList}">
                <td>
                    <img th:src="@{'/img/' + ${item.product.productNumber}+'.png'}"  class="img-fluid img-thumbnail"
                         width="200" height="200"  alt="...">
                </td>
                    <td th:text="${item.product.description}" style="text-align: center; vertical-align: middle">Text ...</td>
                    <td class="text-center" th:text="${item.quantity}" style="text-align: center; vertical-align: middle">Text ...</td>
                    <td class="text-right"th:text="${item.itemPrice}" style="text-align: center; vertical-align: middle"> Text ...</td>
                    <td style="text-align: center; vertical-align: middle">
                        <a th:href="@{'/shoppingCart/removeItemCart' (itemID=${item.id})}" class="btn btn-light btn-sm">
                            &laquo;Remove&raquo;
                    </a>
                    </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right"></th>
            </tr>
            <tr>
                <th colspan="4">

                    <a class="btn btn-primary" th:if="${cartItemBuyer != null}"  th:href="@{'/payment/{id}' (id=${cartItemBuyer.cartId})}"  >
                        Check Out &raquo;</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
</body>
</html>