<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="col-md-10">
        <h3>OPPSSS!!!! Sorry...</h3>
            <p>Sorry your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.</p>
            &raquo;
            <a class="btn btn-danger"  th:href="@{/}"  role="button">Homer&raquo;</a></p>


    </div>
    </div>
</section>
</body>
</html>