<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
<section>
    <div class="container">
    </div>
    <div class="container">
        <h1>Access Denied ,Something went wrong! </h1>
        <h2>you do not have permission to access the page</h2>
        <a class="btn btn-danger"  th:href="@{/index}"  role="button">&laquo;Home&raquo;</a></p>
    </div>
</section>

</body>
</html>

