<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
<div class="col" layout:fragment="main-content" style="margin:2%;margin-left: 4%">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Fancy Shopping </span></h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>
            <p>
                <a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Login &raquo;</a></p>
            <p><a class="btn btn-primary btn-lg" th:href="@{/buyer/registration}" role="button">Sing UP as Buyer
                &raquo;</a></p>
            <p><a class="btn btn-primary btn-lg" th:href="@{/seller/registration}" role="button">Sing UP
                Seller&raquo;</a></p>
            <p><a class="btn btn-primary btn-lg" th:href="@{/admin/registration}" role="button">Sing UP Admin&raquo;</a>
            </p>

        </div>
    </div>
    <!--
        <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Company 2017</p>
        </footer>
    </div> /container -->

</div>
</body>
</html>