<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Success Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
<div class="row">
    <!-- for each part using expression language  Iteration th:each   -->
    <div class="col">
        <div class="card" style="width: 100%;" layout:fragment="main-content">
            <div class="card-body">
                <div class="success-page">
                    <div class="col-25">
                    </div>

                    <div class="col-50">
                        <img src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt=""/>
                        <h2>Payment with Coupon is Successful !</h2>
                        <p>We are delighted to inform you that we received your payments.</p>
                        <p><b><u>Your coupon is deducted from your profile</u></b></p>
                        <a href="/order" class="btn-view-orders btn btn-primary">View Orders</a>
                        <a href="/cartItem/productList" class="btn btn-primary">Continue Shopping</a>
                        <a th:href="@{/orderreceipt/{id}(id=${order.getId()})}"
                           target="_blank" class="btn btn-success" title="Order Receipt">
                            <i class="fas fa-file-invoice glyphicon glyphicon-file-invoice"></i>
                            Generate Receipt
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
</div>
</body>
</html>